html {
 font-size: 18px;
}


header {
font-size: 100px;
font-family: impact, arial, sans-serif;
position: relative;
left: 50px;
}

nav {
font-family:Arial, Helvetica, sans-serif;
background-color:azure;
display: inline-block;
padding: 0px 0px;
margin: 0px 0px;
width: 700px;
height: 350px;
overflow: scroll;
border: 5px ridge violet;
position: relative;
left: 50px;
transition: background-color 600ms linear 200ms, 
border 600ms linear 200ms;
}
nav:hover {
 background-color:brown;
 border: 5px solid black;
}

nav divNavA {
color:rgb(200,200,50);
}

nav divNavB {
color: rgb(148, 199, 240);
}

article divA {
color: rgb(50,50,100);
background-color: rgb(250,250,250);
display: inline-block;
margin: 0px 0px;
padding: 0px 0px;
width: 800px;
height: 1000px;
overflow: scroll;
border: 5px groove rgb(50,50,100);
font-family:'Times New Roman', Times, serif;
position: relative;
left: 100px;
}
article divA h1 {
color: black;
}
article divA h2 {
color: black;
}
article divB {
color: rgb(100,100,50);
background-color: rgb(250,250,250);
display: inline-block;
margin: 0px 0px;
padding: 0px 0px;
width: 800px;
height: 1000px;
overflow: scroll;
border: 5px groove rgb(100,100,50);
font-family: 'Courier New', Courier, monospace, sans-serif;
position: relative;
left: 100px;
}
article divB h1 {
color: black;
}
article divB h2 {
color: black;
}

article divC {
color: rgb(170, 70, 20);
background-color: rgb(250,250,250);
display: inline-block;
margin: 0px 0px;
padding: 0px 0px;
width: 800px;
height: 1000px;
overflow: scroll;
border: 5px groove rgb(170,70,20);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
position: relative;
left: 100px;
}
article divC h1 {
color: black;
}
article divC h2 {
color: black;
}

figure h3 {
 display: block;
 opacity: 80%;
}
figure h3:active {
 display: flex;
 background-color: azure;
}

#event {
 color: red;
 font-size: 50px;
 position: relative;
 left: 50px;
}

#scene {
 color: blueviolet;
 font-size: 50px;
 position: relative;
 left: 100px;
}

#move {
 color: greenyellow;
 font-size: 50px;
 position: relative;
 left: 150px;
}
/*logB.html*/

article #first {
 display: flex;
 left: 50px;
 font-size: 5rem;
 background-image: url('XGen_studios.jpg');
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 transition: font-size 600ms linear 200ms;
}

article #first:hover {
 font-size: 6rem;
}


article #sec {
 display: flex;
 left: 50px;
 font-size: 5rem;
 background-image: url('OSRS_image.jpg');
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 transition: font-size 600ms linear 200ms;
}

article #sec:hover {
 font-size: 6rem;
}