header {
font-size: 100px;
font-family: impact, arial, sans-serif;
position: relative;
left: 50px;
}

nav {
font-family:Arial, Helvetica, sans-serif;
background-color:azure;
display: inline;
width: fit-content;
border: 5px ridge violet;
position: relative;
left: 50px;
}

nav divNavA {
color:rgb(200,200,50);
}

nav divNavB {
color: rgb(100,100,50);
}

article divA {
color: rgb(50,50,100);
background-color: rgb(250,250,250);
display: inline;
width: 300px;
margin: 0 auto;
border: 5px groove rgb(50,50,100);
font-family:'Times New Roman', Times, serif;
position: absolute;
left: 100px;
}
article divA h1 {
color: black;
}
article divA h2 {
color: black;
}
article divB {
color: rgb(100,100,50);
background-color: rgb(250,250,250);
display: inline;
width: 300px;
margin: 0 auto;
border: 5px groove rgb(100,100,50);
font-family: 'Courier New', Courier, monospace, sans-serif;
position: absolute;
left: 100px;
}
article divB h1 {
color: black;
}
article divB h2 {
color: black;
}

article divC {
color: rgb(170, 70, 20);
background-color: rgb(250,250,250);
display: inline;
width: 300px;
margin: 0 auto;
border: 5px groove rgb(170,70,20);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
position: absolute;
left: 100px;
}
article divC h1 {
color: black;
}
article divC h2 {
color: black;
}