html {
 font-size: 16px;
}
/*Title*/
header {
 display: flex;
 text-align: center;
 font-size: 2.5rem;
 position: relative;
 left: 50px;
 width: 90%;
 height: auto;
 border: 10px ridge blue;
 color: blue;
 background-color: rgba(120,120,50,0.5);
}

/*Navigation*/
nav {
 position: fixed;
 right: -100px;
 top: 50px;
 display: inline-flex;
 width: 150px;
 height: auto;
 color: white;
 background-color: black;
 z-index: 1;
 font-family:'Times New Roman', Times, serif;
 border: solid 8px blueviolet;
 transition: right 500ms linear 100ms;
}

nav:hover {
 right: 0px;
}

/*Main Content*/
article {
 display: inline-block;
 width: 90%;
 position: relative;
 left: 50px;
 background-color: rgba(200,200,150,0.3);
 border: 10px groove black;
}

article ol {
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 font-size: 1.1rem;
 position: relative;
 width: 75%;
 left: 80px;
 border: 5px ridge grey;
}

article p {
 font-family:Arial, Helvetica, sans-serif;
}

article a {
 font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 color: darkblue;
 font-size: 1.2rem;
 transition: color 500ms ease-out 200ms, 
 font-size 500ms ease-in 200ms;
}
article a:hover {
 color: darkred;
 font-size: 1.4rem;
}
article h2 {
 font-family:'Times New Roman', Times, serif;
 font-size: 2rem;
 text-align: center;
 text-shadow: 3px 3px 5px violet;
}

article table {
 border: 8px groove black;
 width: 90%;
 height: auto;
 background-color: rgba(100,200,100,0.2);
 margin: 0 auto;
 display: block;
}
article table a {
 font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 color: rgb(80,20,100)
 font-size: 1rem;
 transition: color 500ms ease-in 200ms, 
 font-size 500ms ease-in 200ms;
}
article table a:hover {
 color: darkblue;
 font-size: 1.2rem;
}
article table thead th {
 border: 5px double black;
 background-color: rgba(100,120,50,0.5);
 color: black;
 font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-size: 1.3rem;
 text-align: center;
}
article table tbody td {
 border: 3px solid black;
 background-color: rgba(120,120,50,0.5);
 color: black;
 font-family:Arial, Helvetica, sans-serif;
 font-size: 1rem;
 text-align:center;
}
article table tfoot td {
 border: 5px dashed black;
 background-color: rgba(50,120,0,0.5);
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 color: black;
 font-size: 1.2rem;
 text-align: justify;
}

figure {
 display: inline-block;
 width: 90%;
 position: relative;
 left: 50px;
 background-color: rgba(189, 189, 17, 0.3);
 border: 10px ridge rgb(148, 32, 32);
}

figure h2 {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 2rem;
 text-align: center;
 text-shadow: 3px 3px 5px rgb(148, 120, 120);
}

figure a {
 font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-size: 1.5rem;
 color:rgb(148, 32, 32);
 transition: color 600ms linear 200ms, 
 font-size 600ms linear 200ms;
}

figure a:hover {
 color: rgb(200, 148, 32);
 font-size: 1.7rem;
}


footer {
 position: relative;
 top: 50px;
 left: 50px;
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 font-size: 2rem;
}