html {
 font-size: 16px;
}
header {
display: flex;
height: auto;
align-items: center;
align-content: center;
background-image: url('Charlemagne.PNG');
background-size: cover;
font-size: 6.25rem;
font-family: impact, arial, sans-serif;
position: relative;
left: 50px;
}

nav {
  background-color: rgba(150,150,250,0.2);
  color: rgb(73,20,125);
  padding: 0px 0px;
  margin: 0px 0px;
  border: solid black 8px;
  display: inline-flex;
  width: 50%;
  height: auto;
  position: sticky;
  z-index: 1;
  top: 50px;
  font-family: arial black;
  font-size: 1rem;
  transition: color 600ms linear 300ms, 
  background-color 600ms linear 300ms, 
  font-size 600ms linear 300ms;
}
nav .index {
cursor: pointer;
}
nav:hover {
color: rgba(150,150,250,0.8);
background-color: antiquewhite;
font-size: 1.5rem;
} 
nav p {
color: black;
font-size: 1rem;
}
figure {
  position: relative;
  top: 200px;
  z-index: -1;
  display: flex;
  width: 100%;
  height: auto;
}

footer h2 {
 position: relative;
 top: 200px;
 display: block;
 width: 100%;
 height: auto;
 font-size: 1.5rem;
 color: black;
 background-color: grey;
 transition: font-size 600ms ease-in 200ms, 
 color 600ms ease-in 200ms, 
 background-color 600ms ease-in 200ms;
}

footer .index {
 cursor: pointer; 
}

footer h2:hover {
 font-size: 2rem;
 color: red;
 background-color:blueviolet;
}
footer p {
 top: 500px;
 position: relative;
 display: block;
 width: 100%;
 height: auto;
}

footer #moveA {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  top: 500px;
  left: 50px;
  font-size: 5rem;
  color: white;
  transition: color 2s ease-in 300ms,
  font-size 2s ease-in 300ms, 
  background-color 2s ease-out 300ms, 
  border 2s ease-out 300ms;
}

 footer #moveA:hover {
  font-size: 4rem;
  color: black;
  background-color: yellow;
  border: solid black 5px;
 }