html {
 font-size: 16px;
}
header {
display: flex;
height: auto;
align-items: center;
align-content: center;
background-image: url('Charlemagne.PNG');
background-size: cover;
font-size: 6.25rem;
font-family: impact, arial, sans-serif;
position: relative;
left: 50px;
}

nav {
  background-color: rgba(150,150,250,0.2);
  color: rgb(73,20,125);
  padding: 0px 0px;
  margin: 0px 0px;
  border: solid black 8px;
  display: inline-flex;
  width: 50%;
  height: auto;
  position: sticky;
  z-index: 1;
  top: 50px;
  font-family: arial black;
  font-size: 1rem;
  transition: color 600ms linear 300ms, 
  background-color 600ms linear 300ms, 
  font-size 600ms linear 300ms;
}
nav .index {
cursor: pointer;
}
nav:hover {
color: rgba(150,150,250,0.8);
background-color: antiquewhite;
font-size: 1.5rem;
} 
nav p {
color: black;
font-size: 1rem;
}
figure #moveA, figure #moveB {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  top: 500px;
  left: 50px;
  font-size: 3rem;
  color: white;
  transition: color 2s ease-in 1s,
  font-size 2s ease-in 1s,
  text-shadow 2s ease-in 1s;
  align-content: center;
  align-items: center;
}

figure #moveA:hover, figure #moveB:hover {
  cursor: default;
  font-size: 2rem;
  color: black;
  text-shadow: 4px 4px blueviolet;
}

footer {
 position: relative;
 top: 200px;
 width: 100%;
 height: auto;
 border: 10px dotted rgba(50,50,100,0.5);
}



    footer .ButtonA, footer .ButtonB, footer .ButtonC, footer .ButtonD {
     display: inline-block;
     width: 15%;
     height: auto;
     text-align: center;
     background-color: darkblue;
     color: yellow;
     padding: 15px 30px;
     border: 2px solid black;
     font-size: 2rem;
     transition: font-size 600ms ease-in 200ms, 
     background-color 600ms ease-in 200ms, 
     color 600ms ease-in 200ms, 
     box-shadow 600ms ease-in 200ms;
    }
    footer .ButtonA:hover, footer .ButtonB:hover, footer .ButtonC:hover, footer .ButtonD:hover {
     font-size: 2.2rem;
     background-color: rgba(20,20,20,0.5);
     box-shadow:0 8px 16px 0 rgba(0,0,100,0.6);
     color: white;
    }