html {
 font-size: 16px;
}

 head {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  font-size: 4rem;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(180,220,220);
  background-color: rgba(150,120,50,0.8);
 }


article button {
  display: flex;
  justify-content: center;
  width: 50%;
  height: auto;
  background-color: grey;
  transition: background-color 800ms linear 200ms;
}

article button:hover {
  background-color: greenyellow;
}

article h1 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
  color: black;
  background-color: yellow;
  transition: color 1s linear 200ms, background-color 700ms ease-in 200ms, font-family 700ms ease-in 200ms; 
}

article h1:hover {
  font-family: Arial, Helvetica, sans-serif;
  color: yellow;
  background-color: black;
}