header {
 display: block;
 align-content: center;
 font-size: 100px;
 font-family: impact, arial, sans-serif;
 position: relative;
 left: 50px;
 background-color:beige;
 border: 4px groove blue;

}
divIntro {
 position: relative;
 display: inline-block;
 width: 1000px;
 position: relative;
 left: 50px;
 font-size: 20px;
 font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav {
 position: fixed;
 right: -150px;
 top: 150px;
 background-color: red;
 border: 5px solid black;
 display: inline-flex;
 width: 350px;
 height: auto; 
 margin: 0px;
 padding: 0px;
 z-index: 2;
 transition: background-color 500ms ease-in 200ms, 
 right 500ms linear 100ms;
}
nav:hover{
 background-color: grey;
 right: 40px;
}

article {
 display: inline-block;
 width: 1000px;
 position: relative;
 left: 50px;
 background-color: black;
 color: white;
}
article p {
 font-size: 15px;
 font-family:'Times New Roman', Times, serif;
}
article h4 {
 font-size: 20px;
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
article h2 {
 font-size: 40px;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}