header {
 display: block;
 align-content: center;
 font-size: 100px;
 font-family: impact, arial, sans-serif;
 position: relative;
 left: 50px;
 background-color:beige;
 border: 4px groove blue;
}
 header #topext {
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 color:blueviolet;
 }


div {
 position: relative;
 display: inline-block;
 width: 85%;
 position: relative;
 left: 50px;
 font-size: 20px;
 font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav {
 position: fixed;
 right: -150px;
 top: 150px;
 background-color: red;
 border: 5px solid black;
 display: inline-flex;
 width: 350px;
 height: auto; 
 margin: 0px;
 padding: 0px;
 z-index: 2;
 transition: background-color 500ms ease-in 200ms, 
 right 500ms linear 100ms;
}
nav:hover {
 background-color: grey;
 right: 0px;
}

article {
 display: inline-block;
 width: 80%;
 position: relative;
 left: 50px;
 background-color: black;
 color: white;
}
article a { 
 color: rgba(52, 207, 235, 1);
 transition: color 800ms ease-out 300ms, 
 background-color 800ms ease-out 300ms;
}

article a:hover {
 color: rgba(200, 200, 200, 0.8);
 background-color: rgba(100,100,300,0.1);
}

article p {
 font-size: 15px;
 font-family:'Times New Roman', Times, serif;
}
article h4 {
 font-size: 20px;
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
article h2 {
 font-size: 40px;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*figure animation*/
figdes  {
 display: inline-flex;
 width: 100%;
 font-size: 2rem;
 height: auto;
 position: sticky;
 top: 0px;
 z-index: 5; 
 background-color: darkgray
}

figdes #left {
 position: relative;
 left: 0%;
}
figdes #right {
 position: relative;
 left: 80%;
}

figureA, figureAB, figureB, figureBC, figureC, figureCA, figureD{
 display: flex;
 font-size: 1.5rem;
 font-family:Verdana, Geneva, Tahoma, sans-serif;
 width: 100%;
 height: auto;
 border: 2px double black;
 position: relative;
 z-index: 3;
 background-color: lightgrey;
}
figureA .truck {
 position: relative;
 left: 0%;
 transition: left 15s ease-in 400ms;
}
figureA .truck:active {
 left: 80%;
}
figureAB .car {
 position: relative;
 left: 0%;
 transition: left 7s ease-in 400ms;
}
figureAB .car:active {
 left: 80%;
}
figureB .sports {
 position: relative;
 left: 0%;
 transition: left 4.5s ease-in 400ms;
}
figureB .sports:active {
 left: 80%;
}
figureBC .cheetah {
 position: relative;
 left: 0%;
 transition: left 3s ease-in 400ms;
}
figureBC .cheetah:active {
 left: 80%;
}
figureC .high {
 position: relative;
 left: 0%;
 transition: left 2.5s ease-in 400ms;
}
figureC .high:active {
 left: 80%;
}
figureCA .pro {
 position: relative;
 left: 0%;
 transition: left 1s ease-in 400ms;
}
figureCA .pro:active {
 left: 80%;
}
figureD .top {
 position: relative;
 left: 0%;
 transition: 500ms ease-in 400ms;
}
figureD .top:active {
 left: 80%;
}