 html {
  font-size: 16px;
  background-color: rgb(7, 7, 89);
 }

 header {
  color: white;
  text-align: center;
  font-size: 2.5rem;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

 article {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  color: white;
  font-size: 1.5rem;
  font-family:'Times New Roman', Times, serif;
 }

 article div {
  font-size: 1.7rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
 }