 html {
  font-size: 16px;
  background-color: rgb(7, 7, 89);
 }

 header {
  color: white;
  text-align: center;
  font-size: 2.5rem;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

 article {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  color: white;
  font-size: 1.5rem;
  font-family:'Times New Roman', Times, serif;
 }

 article div {
  font-size: 1.7rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
 }

 article #statisticsA, article #statisticsB, article #statisticsC {
  font-size: 1.8rem;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  transition: font-size 800ms ease-in 200ms;
 }

 article #statisticsA:hover, article #statisticsB:hover, article #statisticsC:hover {
  font-size: 2rem;
 }

 article #reset {
  font-size: 2.5rem;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  transition: font-size 800ms ease-in 200ms,  border 800ms ease-in 200ms;
  border: 5px solid white;
 }

 article #reset:hover {
  font-size: 2.7rem;
  border: 5px dotted white;
  cursor: pointer;
 }